
<h2><%= link_to 'Créer une tâche', new_task_path %></h2>
<h2>Liste des Tâches</h2>

  <% @tasks.each_with_index do |task, index| %>
    <h3><%= index + 1  %> / <%= task[:title] %></h3>
    <p><%= task[:content] %></p>
    <%= link_to 'Voir le détail', task_path(task) %>
    <%= link_to 'Editer', edit_task_path(task) %>
    <%= link_to 'Supprimer', task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
   <% end %>
</ul>

